<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>::. Rafael Morales - Agrega/modifica Cliente .::</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>Formulario Cliente</h1>
			<br/>
			<form action="#" th:action="@{/clients/addclient}" th:object="${clientModel}" method="post">
				<input type="hidden" th:field="*{id}"></input>
				Nombre del Cliente: <input type="text" class="form-control" th:field="*{clientname}" th:value="${clientname}"></input>
				<br/>
				Dirección: <input type="text" class="form-control" th:field="*{address}" th:value="${address}"></input>
				<br/>
				Telefono: <input type="text" class="form-control" th:field="*{telephone}" th:value="${telephone}"></input>
				<br/>
				Ruta:
				<select th:field="*{route}" class="form-control">
              		<option th:each="route : ${routes}" th:value="${route}" th:text="${route.routename}"></option>
            	</select>
				<br/>
				<br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar
				</button>
			</form>
			<a href="#" th:href="@{/clients/cancel}"> 
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancelar
			</button>
			</a>

		</div>
	</div>

</body>
</html>