<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>::. Rafael Morales - Agrega/modifica Ruta .::</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>Formulario Rutas</h1>
			<br/>
			<form action="#" th:action="@{/routes/addroute}" th:object="${routeModel}" method="post">
				<input type="hidden" th:field="*{idroute}"></input>
				Nombre de Ruta: <input type="text" class="form-control" th:field="*{routename}" th:value="${routename}"></input>
				<br/>
				Ruta: <input type="text" class="form-control" th:field="*{routedescription}" th:value="${routedescription}"></input>
				<br/>
				<br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar
				</button>
			</form>
			<a href="#" th:href="@{/routes/cancel}"> 
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancelar
			</button>
			</a>

		</div>
	</div>

</body>
</html>